<div class="container error">
  <% @event.errors.messages.each do |key, values| %>
    <% values.each do |value| %>
  <ul>
    <li><%= "#{key.to_s} #{value}" %></li>
  </ul>
    <% end %>
  <% end %>
</div>