<% if @errors %>
  <%= erb :"events/errors" %>
<% end %>

<h3>Enter the details of your event:</h3>
  <form action="/events" method="post">
      <label for="email">Organizer Email:</label>
        <input type="text" id="email" name="event[organizer_email]">
      <label for="title">Event Title:</label>
        <input type="text" id="title" name="event[title]">
      <label for="name">Organizer Name:</label>
        <input id="name" type="text" name="event[organizer_name]">
      <label for="date">Event Date:</label>
        <input id="date" type="date" name="event[date]">
      <input type="submit" value="Submit!" class="submit">
  </form>